$clr-black-0: #000;

$clr-white-0: #fff;

$clr-violet-0: #5C62FF;
$clr-violet-1: #8995FF;

$clr-yellow-0: #FEC53D;

$clr-green-0: #41A493;

$clr-red-0: #D84F4E;
$clr-red-1: #FE3500;

$clr-blue-0: #1F91EB;

$clr-pink-0: #FF0B9A;

* {
  font-family: 'Inter', sans-serif;
}
.bg {
  &-yellow {
    background-color: $clr-yellow-0;
  }
  &-green {
    background-color: $clr-green-0;
  }
  &-red {
    background-color: $clr-red-0;
  }
  &-red-1 {
    background-color: $clr-red-1;
  }
  &-blue {
    background-color: $clr-blue-0;
  }
  &-pink {
    background-color: $clr-pink-0;
  }
}
.text {
  &-black {
    color: $clr-black-0;
  }
  &-white {
    color: $clr-white-0;
  }
  &-violet-0 {
    color: $clr-violet-0;
  }
  &-violet-1 {
    color: $clr-violet-1;
  }
  &-red-1 {
    color: $clr-red-1;
  }
}
.bundle {
  position: relative;
  margin: 3.5rem auto;
  &-id {
    width: 5.5rem;
    height: 5.5rem;
    background: $clr-violet-0;
    color: $clr-white-0;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    margin-bottom: 1.5rem;
    top: 1.5rem;
    left: 1.5rem;
  }
  &-container {
    .bundle {
      max-width: 1179px;
    }
  }
  &-detail {
    display: grid;
    font-size: 1.3rem;
    &--default {
      grid-template-columns: 1fr 1fr;
      .left {
        height: 100%;
        max-height: 100%;
        img {
          border-radius: 1rem;
          height: 100%;
          max-height: 100%;
          min-width: 300px;
        }
      }
      .right {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        ul {
          list-style: circle inside;
          line-height: 1.5;
        }
      }
    }
    &--all {
      grid-template-columns: 1fr;
      margin-top: 2rem;
      .left {
        height: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        img {
          border-radius: 1rem;
          height: 100%;
          max-height: 100%;
          min-width: 300px;
        }
      }
      .right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        ul {
          list-style: circle inside;
          line-height: 1.25;
        }
      }
    }

    &__buy-btn {
      padding: 2.125rem 3.25rem;
      color: $clr-white-0;
      font-weight: 600;
      background: $clr-violet-0;
      border-radius: 1rem;
      display: inline-block;
    }
  }
}
.guarantee {
  &__container {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'content image';
  }
  &__content {
    grid-area: content;
  }
  &__image {
    grid-area: image;
  }
}
.combo {
  &__container {
    max-width: 1000px;
    margin: 0 auto;
  }
  &__item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
    }
  }
}
.bonus {
  &__container {
    max-width: 1100px;
    display: flex;
    .left {
      width: 50%;
      order: 1;
    }
    .right {
      width: 50%;
      order: 2;
      display: flex;
      align-items: center;
      img {
        max-width: 100%;
      }
    }
  }
}
.footer {
  &__container {
    max-width: 900px;
    margin: 0 auto;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1100px) {
  .bundle {
    margin: 2rem auto;
    &-id {
      position: static;
    }
    &-detail {
      font-size: 0.9rem;
      &--default {
        grid-template-columns: 1fr;
        .left {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .right {
          margin-top: 2rem;
        }
      }
      &--all {
        .right {
          grid-template-columns: 1fr;
        }
      }
      &__buy-btn {
        font-size: 0.9rem;
        padding: 1.5rem 2rem;
      }
    }
  }
  .guarantee {
    &__container {
      grid-template-columns: 1fr;
      grid-template-areas: 'image' 'content';
      align-items: center;
      justify-content: center;
    }
    &__image {
      display: flex;
      justify-content: center;
    }
  }
  .bonus {
    &__container {
      flex-flow: column;
      .left {
        width: 100%;
        order: 2;
      }
      .right {
        width: 100%;
        order: 1;
        margin-bottom: 1rem;
      }
    }
  }
}
